@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 16px; /* to use - value / root */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-tifyPurple:#2B293D;
  --color-tifyYellow:#FFE047;
  --color-footerText:#A9A9A9
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}
.profile {
  position: relative;
}
.profile:hover  .dropdown{
      display: flex;
      flex-direction: column;
      /* align-items: center; */

}
.dropdown {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  right: 0;
  bottom: -12.9rem ;
  width: 16.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 8px #1D1D1D;
}
.heroBackground {
  background-image: url('/lee-blanchflower-1dW1vEJLlCQ-unsplash.jpg');
  background-color: #2B293D;
  background-position:center -14rem;
  background-size: cover;
  background-blend-mode:soft-light;
}
.cancel-img {
  display: none;
}
.parentEl:has(input:focus) .cancel-img {
  display: block;
}